<% if resource.errors.any? %>

  <div class="alert alert-alert">
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>

<% end %>
