<% if obj.errors.any? %>

  <div class="alert alert-alert">
    <a href="#" class="close" data-dismiss="alert">&#215;</a>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

<% end %>
