<%= render "shared/page_title", title: "#{@ingredient.name}" %>

<% if @ingredient.recipes.count > 0 %>
  <h4 class="center mb-3">Recipes containing <%= @ingredient.name.try(:downcase) %></h4>

  <%= render partial: "recipes/recipes", object: @ingredient_recipes %>

  <%= will_paginate @ingredient_recipes, list_classes: %w(pagination justify-content-center mt-5) %>
<% else %>
  <h4 class="center">Not used in any recipes yet!</h4>
<% end %>
