<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <%= react_component("SignupButton") %>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Chef Chat</h2>
    <p>Chat with other chefs online about your favorite ingredients and cooking tips.</p>
  </div>
  <div class="col-lg-4">
    <h2>Paper to Permanent</h2>
    <p>Save those special family recipes that have been handed down from generation to generation.</p>
  </div>
  <div class="col-lg-4">
    <h2>Two Thumbs Up</h2>
    <p>Found a recipe you really love? Show your appreciation with a thumbs up / thumbs down.</p>
  </div>
</div>
