<div class="jumbotron center">
  <h1>Welcome to MyRecipes app</h1>

  <h2>The best recipe sharing app!</h2>

  <p>
    <%#
      Thomas Hall Jr. 7.25.18
      My first piece of React code
    %>
    <%= react_component("Signup") %>
  </p>
</div>
