@import "colors";

.cloudinary-choose-file {
  position: relative;
  height: 38px;

  &:hover input[type=submit] {
    color: $white;
    background-color: $button-green;
    border-color: $button-green;
  }

  .cloudinary-fileupload {
    opacity: 0;
    filter: alpha(opacity=0); /* IE8 and lower */
  }

  input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 38px;
    margin: 0;
    padding: 0;
  }
}

.delete_by_token {
  color: $myrecipes-link;
  font-size: 1.5rem;

  &:hover {
    color: $myrecipes-link;
  }
}
