$myrecipes-link: #073b15;

.myrecipes-link {
  color: $myrecipes-link;

  &:hover {
    color: $myrecipes-link;
  }
}

.checkbox-inline {
  margin-right: 0.5em;

  .text {
    display: inline-block;
    vertical-align: middle;
  }
}
