@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "colors";

a {
  color: $myrecipes-link;

  &:hover {
    color: $myrecipes-link;
  }
}

.ingredient {
  display: inline-block;
  padding-right: 10px;
}

.badge {
  background-color: #b3b3b3;
  padding: 0.2rem 0.4rem;

  a {
    color: $myrecipes-link;
  }
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("cover-img.jpg");
  background-size: cover;
  height: 300px;
}

.jumbotron {
  h1, h2 {
    color: $white;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

a#logo {
  font-size: 1.7rem;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

// Whitespace buffer without footer present
body {
  margin-bottom: 3rem;
  overflow-x: hidden;
}

.chef-info {
  margin-top: 10px;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;

  }
  .btn {
    float: right;
    height: 54px;
    width: 18%;
  }
}

.message {
  padding-top: 10px;
  padding-left: 5px;
}

#messages {
  border: 1px solid #EAEAEA;
  height: 16rem;
  overflow: auto;
}

.recipe-image {
  padding-bottom: 15px;
}

a.like-icon:hover {
  text-decoration: none;
}

.alert {

  &-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
  }

  &-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
  }

  &-center {
    text-align: center;
  }
}

.recipe-created-by {
  margin-right: 80px; // for like/dislike icons
}
