// global styles
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "colors";

a {
  color: $myrecipes-link;

  &:hover {
    color: $myrecipes-link;
  }
}

.checkbox-inline {
  margin-right: 0.5em;

  .text {
    display: inline-block;
    vertical-align: middle;
  }
}

.ingredient {
  display: inline-block;
  padding-right: 10px;
}
