@import "colors";

.page-link {
  color: $button-green;

  &:hover {
    color: $button-green;
  }
}

.page-item.active .page-link {
  background-color: $button-green;
  border-color: $button-green;
}
